<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>897739431879-sq8flu1nse87be4h050on76cqo043tsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897739431879-sq8flu1nse87be4h050on76cqo043tsf</string>
	<key>API_KEY</key>
	<string>AIzaSyDNeClzK7iR4l6ejP1pBZUzZBG2j03UJDg</string>
	<key>GCM_SENDER_ID</key>
	<string>897739431879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.by.YapiKredi</string>
	<key>PROJECT_ID</key>
	<string>yapikredihackhaton</string>
	<key>STORAGE_BUCKET</key>
	<string>yapikredihackhaton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897739431879:ios:66a02cd4c1b0514c</string>
	<key>DATABASE_URL</key>
	<string>https://yapikredihackhaton.firebaseio.com</string>
</dict>
</plist>